@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #f8f9fa;
    align-items: center;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.39);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.39);
}

.header--logo{
    margin-left: 10px;
}

.header--nav{
    min-width: 400px;
}

.header--nav__optionList{
    list-style: none;
    display: flex;
}

.header--nav__optionList li{
    margin-right: 20px;
}

.header--nav__optionList li a{
    color: black;
    text-decoration: none;
}

.description{
    margin-top: 1px;
    width: 100%;
}

.description--box {
    position: relative;
}

.description--box__image{
    width: 100%;
    height: 500px;
}

.description--box__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    z-index: 1;
    height: 500px;
  }
  
.boxDescription{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 0 10px;
    width: 40%;
    height: 250px;
}

.boxDescription--title{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}

.boxDescription--cover{
    font-family: 'Poppins', sans-serif;
}

.boxDescription--ILearn{
    text-decoration: none;
    background-color: #f8f9fa;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: #20368c;
}

.boxDescription--ILearn__text{
    text-align: center;
    padding: auto 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.boxDescription--ILearn:hover{
    color: #384670;
}

.technologies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
}

.technologies--title, .contactUs--title{
    text-align: center;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}

.technologies--card{
    width: 230px;
    height: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
}

.technologies--card__header{
    border-radius: 10px 10px 0px 0px;
}

.technologies--card__header img{
    width: 100%;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
}

.technologies--card__body{
    padding: 0 7px;
}

.technologies--card__body h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.technologies--card__body p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    max-height: 170px;
}

.technologies--card__body a{
    text-decoration: none;
    font-weight: 600;
    color: #384670;
    margin: 15px 0 0 150px;
    font-size: 14px;
}

.technologies--card__body  .twitter{
    margin: 15px 0 0 100px;
}


.technologies--card__body a:hover{
    color: #5c70ae;
    font-weight: 600;
}

.contactUs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    height: 450px;
}

.contactUs--Form form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.contactUs--Form div{
    margin-right: 10px;
}

.contactUs--message{
    width: 75%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.contactUs--Form__label{
    font-size: 15px;
    color: #384670;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    margin-right: 5px;
}

.contactUs--Form__input{
    outline: none;
    border-radius: 5px;
    width: 200px;
    height: 35px;
}

.contactUs--Form__textArea{
    outline: none;
    border-radius: 5px;
    width: 450px;
}

.contactUs--Form__input:hover, .contactUs--Form__textArea:hover{
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
}

.contactUs--Form__input:focus{
    outline: none;
    border-radius: 10px;
    width: 200px;
    height: 35px;
}

.contactUs--send{
    width: 48%;
    margin: 10px auto;
    height: 45px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    margin: 0 10px 10px 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    background-color: #384670;
    color: #f8f9fa;
    cursor: pointer;
}

.contactUs--send:hover{
    background-color: #5c70ae;
}

.footer{
    background-color: #f8f9fa;
    /* position: fixed;  */
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    -webkit-box-shadow: 2px -3px 2px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px -3px 2px 0px rgba(0,0,0,0.39);box-shadow: 2px -3px 2px 0px rgba(0,0,0,0.39);
}

.footer--autor{
    font-size: 15px;
}

.footer--autor__twitter{
    text-decoration: none;
    color: #384670;
}

@media only screen and (max-width: 520px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }

    .technologies{
        justify-content: center;
    }
}

@media only screen and (max-width: 360px){
    .header--nav{
        max-width: 300px;
        min-width: 0;
    }

    .header--nav__optionList {
        justify-content: start;
        align-items: center;
    }

    .header--nav__optionList li{
        width: 90px;
        font-size: 14px;
        margin-right: 5px;
    }

    .technologies{
        justify-content: center;
    }

    .contactUs--Form {
        width: 95%;
    }

    .contactUs--Form form {
        display: flex;
        justify-content: space-between;
    }

    .contactUs--message {
        width: 96%;
        margin: 10px 0;
    }
    
    .contactUs--send {
    width: 98%;
    }
}